# Ignora node_modules, caso use futuramente
node_modules/

# Ignora arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignora configurações de IDE
.vscode/

# Ignora arquivos de log
*.log

# Ignora arquivos de cache
*.cache
*.tmp

# Windows
*.exe
*.dll
*.pdb
*.db

# Linux/macOS
*.out
*.swp

